@tailwind base;
@tailwind utilities;
@tailwind components;

.hamburger {
  @apply bg-slate-100;
  @apply w-4;
  @apply h-px;
}

.faculties .faculties-list {
  display: none;
}

.faculties:hover .faculties-list {
  display: block;
}

img {
  object-fit: cover;
}

.carousel-parent img {
  height: 100%;
  border-radius: 5px;
  z-index: 5;
}
