@tailwind base;
@tailwind utilities;
@tailwind components;

@mixin show-list {
  display: none;

  &.show {
    display: block;
    @apply bg-custom-600 px-2 divide-gray-800 rounded-md rounded-tr-none w-screen max-w-screen-sm md:w-max text-center md:text-left;
  }

  @apply md:absolute right-0; 
}


body {
  @apply bg-custom-500;
}

.faculties,
.colleges,
.links {
  position: relative;
  z-index: 5;
  @apply md:px-4 py-1 rounded-md rounded-br-none;
  cursor: pointer;
}

.faculties.show,
.colleges.show,
.links.show {
  @apply bg-custom-600 text-center md:text-left text-gray-900;
}

.faculties-list, .colleges-list, .links-list {
  @include show-list;  
}

.faculties-list li, .colleges-list li, .links-list li {
  @apply hover:text-gray-100 transition duration-200 ease-in;
}


img {
  object-fit: cover;
}

.carousel-shadow {
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.4);
}

.carousel-parent img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: 5;
}

/*
=============
HAMBURGER
=============
*/

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);

  & .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }

  & .hamburger-middle {
    display: none;
  }

  & .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
}

.changa-one {
  font-family: "Changa One", serif;
  letter-spacing: 0.1rem;
}
